.test {
    border: 1px solid black;
}

body {
    border: 4px solid red;
    background-image: url("./Fade.jpg");
}

@media only screen and (max-width: 900px) {
    body {
        width: 900px;
    }
}


html {
    background: url(Fade.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    margin-top: 3%;
    width: 100%;
    height: auto;
}

.rowGap {
    margin-top: 3%;
}

.comingSoonText {
    /*position: relative;*/
    /*top: 350%;*/
    /*left: 3%;*/
    /*text-align: center;*/
    /*margin: 0;*/
    /*padding: 0;*/

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 80px;
    /* or 133% */

    color: #212529;
}

.marketingText {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    /*position: relative;*/
    /*top: 350%;*/
    /*left: 3%;*/

    /* Primary Blue/Primary Blue */

    color: #3859B1;
}

/* bootstrap md */
@media (max-width: 768px) {
    /*Align text to center.*/
    .text-xs-center {
        text-align: center;
    }
}
/* bootstrap sm */
@media (max-width: 576px) {
    .dynamic-coming-soon-font-size {
        font-size: 60px;
    }
}

/* bootstrap lg */
@media (max-width: 992px) {
    .dynamic-coming-soon-font-size {
        font-size: 42px;
    }
}

.leftSide {
    padding-top: 20%;
}

.rightSide {
    padding-top: 14%;
}
