.test {
    /*border: 1px solid black;*/
}

body {
    /*border: 4px solid red;*/
    background-image: url("images/fade.jpg");
}

.logo {
    margin-top: 3%;
    width: 100%;
    height: auto;
}

.rowGap {
    margin-top: 5%;
}

.orderingFoodText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 65px;

    color: #212529;
}

.comingSoonText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 1800;
    font-size: 30px;
    line-height: 32px;

    color: #3859B1;
}

.personImg {
    width: 100%;
}

/* css xl */
@media (max-width: 1200px) {
    .dynamic-ordering-food-font-size {
        font-size: 35px;
    }
    .dynamic-coming-soon-font-size {
        font-size: 25px;
    }
}

/* css lg */
@media (max-width: 992px) {
    .dynamic-ordering-food-font-size {
        font-size: 26px;
        line-height: 50px;
    }
    .dynamic-coming-soon-font-size {
        font-size: 21px;
    }
}

/* css md */
@media (max-width: 768px) {
    /*Align text to center.*/
    .text-xs-center {
        text-align: center;
    }
}

/* css sm */
@media (max-width: 576px) {
    .dynamic-ordering-food-font-size {
        font-size: 22px;
        line-height: 40px;
    }
    .dynamic-coming-soon-font-size {
        font-size: 21px;
    }
}

.leftSide {
    padding-top: 20%;
}

.rightSide {
    padding-top: 14%;
}
